@import "tailwindcss";
@import "@heroui/styles"; 


@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #050B14 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer components {
  .input-wrapper {
    @apply relative flex items-center bg-[#050B14] border border-gray-700/60 rounded-xl focus-within:border-[#8B5CF6] focus-within:ring-1 focus-within:ring-[#8B5CF6]/50 transition-all;
  }
}

@layer components {
  .input-wrapper {
    @apply relative flex items-center bg-[#050B14] border border-gray-700/60 rounded-xl focus-within:border-[#8B5CF6] focus-within:ring-1 focus-within:ring-[#8B5CF6]/50 transition-all;
  }

  .google-btn {
    @apply w-full flex items-center justify-center gap-3 py-3 px-4 bg-[#050B14] hover:bg-gray-800 border border-gray-700/60 text-white text-sm font-medium rounded-xl transition-all disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

/* navbar btn */
@layer components {
  .btn-signout {
    @apply relative flex items-center justify-center w-32 h-10 rounded-full text-sm font-semibold z-10 overflow-hidden transition-colors duration-300 cursor-pointer;
    color: #ef4444;
    background-color: transparent;
    border: 1px solid rgba(239, 68, 68, 0.3);
  }

  .btn-signout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 30em;
    background-image: linear-gradient(to right, #ef4444 0%, #991b1b 100%);
    transition: width 0.5s ease;
    z-index: -1;
  }

  .btn-signout:hover {
    color: #ffffff;
    border-color: transparent;
  }

  .btn-signout:hover::before {
    width: 100%;
  }
}